<div class="page-header">
    <div class="container">
        <h1>Areas</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="'/admin/dashboard'">Home</a></li>
            <li><a [routerLink]="'/admin/skill-century/index'">Habilidades Siglo XXI</a></li>
            <li><a [routerLink]="'/admin/skill-century/skill-area/' + skillId">Areas</a></li>
            <li class="active">Nueva Area</li>
        </ul>
    </div>
</div>
<div class="container mt-80 mb-100">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4 class="heading">Formulario</h4>
            <form #skillForm="ngForm" (ngSubmit)="onSubmit(); skillForm.reset();">
                <div class="form-group">
                    <input [(ngModel)]="model.name" id="name" type="text" class="form-control" name="name"
                           #name="ngModel" required>
                    <label for="name">Nombre</label>
                    <p [hidden]="name.valid || name.pristine" class="text-danger">
                        El nombre es obligatorio
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [(ngModel)]="model.min_vulnerable" id="min_vulnerable" type="number" class="form-control"
                                   name="min_vulnerable" #min_vulnerable="ngModel" required>
                            <label for="min_vulnerable">Minimo Vulnerable</label>
                            <p [hidden]="min_vulnerable.valid || min_vulnerable.pristine" class="text-danger">
                                El nombre es obligatorio
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [(ngModel)]="model.max_vulnerable" id="max_vulnerable" type="number" class="form-control"
                                   name="max_vulnerable" #max_vulnerable="ngModel" required>
                            <label for="max_vulnerable">Maximo Vulnerable</label>
                            <p [hidden]="max_vulnerable.valid || max_vulnerable.pristine" class="text-danger">
                                El nombre es obligatorio
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [(ngModel)]="model.min_competent" id="min_competent" type="number" class="form-control"
                                   name="min_competent" #min_competent="ngModel" required>
                            <label for="min_competent">Minimo Competente</label>
                            <p [hidden]="min_competent.valid || min_competent.pristine" class="text-danger">
                                El nombre es obligatorio
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [(ngModel)]="model.max_competent" id="max_competent" type="number" class="form-control"
                                   name="max_competent" #max_competent="ngModel" required>
                            <label for="max_competent">Maximo Competente</label>
                            <p [hidden]="max_competent.valid || max_competent.pristine" class="text-danger">
                                El nombre es obligatorio
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [(ngModel)]="model.min_optimum" id="min_optimum" type="number" class="form-control"
                                   name="min_optimum" #min_optimum="ngModel" required>
                            <label for="min_optimum">Minimo Optimo</label>
                            <p [hidden]="min_optimum.valid || min_optimum.pristine" class="text-danger">
                                El nombre es obligatorio
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [(ngModel)]="model.max_optimum" id="max_optimum" type="number" class="form-control"
                                   name="max_optimum" #max_optimum="ngModel" required>
                            <label for="max_optimum">Maximo Optimo</label>
                            <p [hidden]="max_optimum.valid || max_optimum.pristine" class="text-danger">
                                El nombre es obligatorio
                            </p>
                        </div>
                    </div>
                </div>
                <button *ngIf="!editing" id="skillFormButton" type="submit" data-loading-text="Guardando..."
                        name="submit" class="btn btn-success" [disabled]="!skillForm.form.valid">Guardar
                </button>
                <button *ngIf="editing" id="skillFormButton" type="submit" data-loading-text="Modificando..."
                        name="submit" class="btn btn-success" [disabled]="!skillForm.form.valid">Modificar
                </button>
                <button type="button" data-loading-text="Regresar..." name="gotoback" class="btn btn-info" (click)="toGoBack()">
                    <i class="fa fa-reply-all" aria-hidden="true"></i> Regresar
                </button>
            </form>
        </div>
        <div class="col-sm-6" *ngIf="!editing">
            <h4 class="heading">Listado</h4>
            <div class="alert alert-warning" [hidden]="skills.length > 0">
                No hay nuevos elementos
            </div>
            <ol class="list-default">
                <li *ngFor="let skill of skills">{{ skill.name }}</li>
            </ol>
        </div>
    </div>
    <simple-notifications [options]="options"></simple-notifications>
</div>