<div class="page-header">
    <div class="container">
        <h1>Preguntas Por categoría</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="'/admin/dashboard'">Home</a></li>
            <li><a [routerLink]="'/admin/skill-century/index'">Habilidades Siglo XXI</a></li>
            <li class="active">Preguntas</li>
        </ul>
    </div>
</div>

<div class="container mt-80 mb-100">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4 class="heading">Formulario</h4>
            <form #questionForm="ngForm" (ngSubmit)="onSubmit(); questionForm.reset();">
                <label>Seleccione una habilidad</label>
                <select class="form-control" (change)="showAreas(cboSkill.value)" #cboSkill>
                    <option value="">Seleccione una habilidad</option>
                    <option *ngFor="let skill of skills" value="{{skill.id}}">{{skill.name}}</option>
                </select>
                <div class="loader" *ngIf="loading">
                    <img src="../assets/images/loading.gif" alt="Cargando ...">
                </div>
                <div *ngIf="areas.length > 0">
                    <label>Seleccione un area</label>
                    <select (change)="setAreaId(cboArea.value)" class="form-control" #cboArea>
                        <option value="">Seleccione un area</option>
                        <option *ngFor="let area of areas" value="{{area.id}}">{{area.name}}</option>
                    </select>
                    <label>Seleccione una Categoria</label>
                    <select (change)="setCategoryId(cboCategory.value)" class="form-control" #cboCategory>
                        <option value="">Seleccione una categoria</option>
                        <option *ngFor="let category of categories" value="{{category.id}}">
                            {{category.name}}
                        </option>
                    </select>
                    <div *ngIf="model.area_id > 0 && model.category_id > 0">
                        <label><input (change)="setReplace(1)" name="rbtReplace" id="typeR" value="1" type="radio">Reemplazar las preguntas con estas</label>
                        <label><input (change)="setReplace(0)" name="rbtReplace" id="typeA" value="0" type="radio">Añadir estas preguntas con estas</label>
                        <label>Archivo(*.csv)</label>
                        <input type="file" #file id="file" name="file" class="form-control" (change)="csvUploadToServer($event)">
                        <div class="progress">
                            <div id="upload-progress-bar" class="progress-bar progress-bar-striped active"
                                 role="progressbar"
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 0%;"
                            >
                            <span id="status"></span>
                            </div>
                        </div>
                        <div [hidden]="!error" class="alert alert-danger">
                            ¡Error! No ha eligido si desea remplazar las preguntas o desea añadir
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>