<div class="page-header">
    <div class="container">
        <h1>Profesores</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="'/admin/dashboard'">Home</a></li>
            <li><a [routerLink]="'/admin/evaluation/index'">Profesores</a></li>
            <li class="active">index</li>
        </ul>
    </div>
</div>

<div class="container mt-100 mb-100">
    <div class="row">
        <h3 class="heading text-center" [hidden]="loading">
            Listado de profesores registrados
        </h3>
        <div class="col-sm-12 mb-20" [hidden]="loading">
            <form class="form-inline pull-right">
                <div class="form-group mx-sm-3 mb-8">
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Nombre">
                </div>
                <div class="form-group mb-2">
                    <button type="submit" class="btn btn-info mb-2" (click)="goSearch()">
                        <i class="fa fa-search" aria-hidden="true"></i> Buscar
                    </button>
                </div>
                <div class="form-group mb-2">
                    <a [routerLink]="'/admin/teacher/preregister'" class="btn btn-primary pull-right">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Pre-Registro
                    </a>
                </div>
            </form> 
        </div>
        <div class="col-sm-12">
            <div class="loader" *ngIf="loading">
                <img src="../assets/images/loading.gif" alt="Cargando ...">
            </div>
            <table class="table table-hover" [hidden]="loading">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>CURP</th>
                        <th>Fecha de registro</th>
                        <th>Siglo XXI</th>
                        <th>Diagnóstica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teacher of teachersList">
					<td>
						<span>
                        <button id="teacherDelete" (click)="delete([teacher.id],1)" class="btn-link" style="color: #ff9c00;" title="Elimiar al Profesor">
							<i class="fa fa-user-times"></i>
                        </button>
                        </span>
						<a [routerLink]="['/admin/teacher/profile', teacher.id]" title="Ver perfil">
							{{ teacher.fullname }}
						</a>
                    </td>
                    <td>{{ teacher.curp }}</td>
                    <td>{{ getformattedDate(teacher.createTime.timestamp) }}</td>
                    <td>
                        <span *ngIf="teacher.didFinishXxiQuestionary == null">
                            <a href="javascript:void(0);"  
                           title="Aún no ha realizado la evaluación Habilidades Siglo XXI">
                                <i [attr.id]="'teacher_' + teacher.id" style="color: yellow" class="fa fa-warning "
                                    aria-hidden="true"></i>
                            </a>
                        </span>
                        <span *ngIf="teacher.didFinishXxiQuestionary != null">
                            <a href="javascript:void(0);" (click)="exportResultData(teacher.id)" 
                           title="Exportar Resultados Habilidades Siglo XXI a Excel">
                                <i [attr.id]="'teacher_' + teacher.id" style="color: #44B144"
                                    class="fa fa-file-excel-o " aria-hidden="true"></i>
                            </a>
                        </span>
                        <span *ngIf="teacher.didFinishXxiQuestionary != null">
                            <a href="javascript:void(0);" (click)="exportResultDataToPDF(teacher.id)" 
                           title="Exportar Resultados Habilidades Siglo XXI a PDF" 
                           style="margin-left: 10px">
                                <i [attr.id]="'teacher_pdf_' + teacher.id" style="color: red" class="fa fa-file-pdf-o "
                                    aria-hidden="true"></i>
                            </a>
                        </span>
                        <span *ngIf="teacher.didFinishXxiQuestionary != null">
                        <button id="specialityButtonDelete" (click)="delete([teacher.id],2)" class="btn-link" style="color: #ff9c00;" title="Elimiar al Evaluación Siglo XXI">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!teacher.evaluationIneeFinish">
                            <a href="javascript:void(0);" 
                               title="Aún no ha realizado la evaluación diagnóstica" >
                                <i style="color: yellow" class="fa fa-warning" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span *ngIf="teacher.evaluationIneeFinish">
                            <a href="javascript:void(0);" (click)="exportResultIneeDataToExcel(teacher.id)" 
                               title="Exportar Resultados Evaluación INEE a Excel" >
                                <i [attr.id]="'teacher_inee_' + teacher.id" style="color: #44B144"
                                    class="fa fa-file-excel-o " aria-hidden="true"></i>
                            </a>
                        </span>
                        <span *ngIf="teacher.evaluationIneeFinish">
                            <a href="javascript:void(0);" (click)="exportResultIneeDataToPDF(teacher.id)" 
                               title="Exportar Resultados Evaluación INEE a PDF" 
                               style="margin-left: 10px">
                                <i [attr.id]="'teacher_pdf_inee_' + teacher.id" style="color: red" class="fa fa-file-pdf-o "
                                    aria-hidden="true"></i>
                            </a>
                        </span>
						<span *ngIf="teacher.evaluationIneeFinish">
                        <button id="diagnosticaDelete" (click)="delete([teacher.id],3)" class="btn-link" style="color: #ff9c00;" title="Elimiar al Evaluación Diagnostica">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12" [hidden]="loading">
        <nav>
            <ul class="pagination">
                <li>
                    <a [routerLink]="['/admin/teacher/index', pagePrev]" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li *ngFor="let p of pages" [ngClass]="{'active': (p + 1 == page)}">
                    <a [routerLink]="['/admin/teacher/index', p + 1]"> {{ p + 1 }} </a>
                </li>
                <li>
                    <a [routerLink]="['/admin/teacher/index', pageNext]" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
    <simple-notifications [options]="options"></simple-notifications>
</div>