<div class="page-header">
    <div class="container">
        <h1>Profesores</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="['/admin/dashboard']">Home</a></li>
            <li><a [routerLink]="['/admin/teacher/index']">Profesores</a></li>
            <li class="active">Pre-Registro</li>
        </ul>
    </div>
</div>
<div class="container mt-100 mb-100">
    <div class="row">
        <div class="col-sm-12 mb-20" [hidden]="loading">
            <a [routerLink]="'/admin/teacher/import'" class="btn btn-primary pull-right"><i class="fa fa-upload" aria-hidden="true"></i> Importar</a>
        </div>
        <h3 class="heading text-center" [hidden]="loading">
            Profesores pre-cargados
        </h3>
        <div class="col-sm-12">
            <div class="loader" *ngIf="loading">
                <img src="../assets/images/loading.gif" alt="Cargando ...">
            </div>
            <table class="table table-hover" [hidden]="loading">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>CURP</th>
                    <th>Correo Electrónico</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of teachersList">
                    <td>{{ teacher.name }}</td>
                    <td>{{ teacher.curp }}</td>
                    <td>{{ teacher.email }}</td>
                </tr>
                </tbody>
            </table>
            <div class="col-sm-12" [hidden]="teachersList.length > 0 || loading">
                <div class="alert alert-warning">
                    No hay usuarios pre-cargados
                </div>
            </div>
        </div>
        <div class="col-sm-12" [hidden]="loading">
            <nav>
                <ul class="pagination">
                    <li>
                        <a [routerLink]="['/admin/teacher/preregister/', pagePrev]" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li *ngFor="let p of pages" [ngClass]="{'active': (p + 1 == page)}">
                        <a [routerLink]="['/admin/teacher/preregister/', (p + 1)]"> {{ p + 1 }} </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/teacher/preregister/', pageNext]" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
