<div class="page-header">
    <div class="container">
        <h1>Acceso denegado</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="'/index'">Home</a></li>
            <li class="active">Acceso denegado</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="not-found">
                <span class="number">4<span class="color2">0</span>1</span>
                <h2>Usted no está autorizado para visualizar este contenido.</h2>
                <br><br>
                <a [routerLink]="'/index'" class="btn btn-primary">Página de inicio</a>
            </div>
        </div>
    </div>
</div>