<div class="page-header">
    <div class="container">
        <h1>Registro finalizado</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="'/index'">Home</a></li>
            <li class="active">Registro finalizado</li>
        </ul>
    </div>
</div>

<div class="bgcolor3 pt-100 pb-100">
    <div class="container">
        <h2 class="heading text-center">Activa tu <span class="color2">cuenta</span></h2>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="icon-box-3">
                    <div class="icon-box-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="icon-box-content">
                        <h5 class="heading">Te hemos enviado un link de activación</h5>
                        <span class="inverse">Por favor revisa tu correo y activa tu cuenta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>