
        <div class="page-header">
            <div class="container">
                <h1>&iexcl;Bienvenido!</h1>
            </div>
        </div>

        <div class="container mt-100 mb-40">
            <div class="row">
                <h3 class="heading">Plataforma Diagnóstico <span class="color2">Perfil del Docente Siglo XXI</span></h3>
                <div class="col-sm-6">
                    <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>-->
                    <!--
                    <p>Ser docente en la sociedad actual es algo más que ser un experto en las diversas asignaturas, pues se requiere ser un facilitador, un coordinador de experiencias de aprendizaje y promotor de estrategias que ayuden a los estudiantes a aprender cómo aprender de forma activa, participativa y con un cierto grado de autonomía que se fortalece cada vez más, hasta llegar a que un alumno sea responsable de sus propios procesos de aprendizaje.</p>
                    <p>Ante esta situación, la Reforma Educativa promulgada en febrero de 2013 por el Gobierno de la República, planteó una transformación profunda del Sistema Educativo Mexicano, en la cual se reconoce la necesidad de una educación de calidad con equidad, que genere mayor igualdad de oportunidades sociales entre los mexicanos y que contribuya a la justicia social. Por este motivo, para lograr una verdadera transformación de la educación, además de una nueva gestión del sistema educativo que permita llevar el planteamiento curricular a las aulas, se requiere formación y desarrollo profesional docente.</p>
                    <p>En este contexto, la Fundación para el Desarrollo Educativo, de la Investigación y Superación Profesional de los Maestros A.C. (SINADEP) se ha sumado a este esfuerzo de formar a los docentes de México, coadyuvando y participando en los procesos de formación y desarrollo profesional de los trabajadores de la educación, con la intención de acompañarles pedagógicamente e incidir en sus prácticas docentes, además de apoyarles en los procesos de evaluación en el marco del Servicio Profesional Docente. </p>
                    <p>Por tal motivo, el SINADEP se ha convertido, por un lado, en una opción formativa para los docentes, tanto para los que están en</p>
                       -->
                       <p class="text-justify" id="text_left">
                       </p>
                </div>

                <div class="col-sm-6">
                       <!--
                    <p>formación como en servicio, a través de acompañamiento pedagógico con cursos virtuales que se les ofrecen para apoyarles en los diferentes procesos de evaluación y, por otro lado, con estudios de posgrado que incidan en su formación continua y desarrollo profesional.</p>
                    <p>Ante esta exigencia de la Secretaría de Educación Pública (SEP) de capacitación y desarrollo profesional para alcanzar el perfil del Docente del Siglo XXI que demanda la sociedad actual en México, el SINADEP ha creado esta plataforma de diagnóstico, cuyo propósito es ofrecer trayectos formativos que contribuyan a los docentes a alcanzar el perfil de destacado y de excelencia, conforme las exigencias y necesidades anteriormente señaladas. Por tal motivo, por un lado se pretende diagnosticar el perfil del docente del Siglo XXI, y por otro, obtener una evaluación diagnóstica de desempeño, conforme a los Perfiles, Parámetros e Indicadores que enmarca la SEP. </p>
                    <p>La pretensión de ambos diagnósticos no es la de evaluar como tal, sino la de identificar fortalezas y debilidades de cada perfil docente, para determinar el punto exacto en el que se encuentra actualmente respecto a competencias y habilidades del docente, y hasta dónde debe llegar, para poder proponerle una oferta educativa acorde a sus debilidades y áreas de oportunidad, pudiendo estructurar con ello metas y objetivos que fortalezcan su capacitación y desarrollo profesional docente.</p>
                       -->
                       <p class="text-justify" id="text_right">
                       </p>
                       
                    <ul class="imp-dates">
                        <li>
                            <a href="https://diagnosticosxxi.org/evaluation-xxi/index">Iniciar Diagnóstico Maestro SIGLO XXI</a>
                        </li>
                        <li>
                            <a href="https://diagnosticosxxi.org/evaluation-inee/index">Iniciar Evaluación Diagnóstica</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
