<div class="page-header">
    <div class="container">
        <h1>Nueva contraseña</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="['/index']">Home</a></li>
            <li class="active">Nueva contraseña</li>
        </ul>
    </div>
</div>

<div class="bgcolor3 pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="widget search-widget">
                    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit();">
                        <h5 class="heading">Cambia tu contraseña</h5>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" name="password"
                                   [(ngModel)]="model.password" #password="ngModel" minlength="6" maxlength="15"
                                   required>
                            <label for="password">Escribe una nueva contraseña</label>
                            <p [hidden]="password.valid || password.pristine" class="text-danger">
                                La longitud de la contraseña debe ser por lo menos de 6 letras y/o números
                            </p>
                        </div>
                        <div class="form-group">
                            <input id="password_repeat" type="password" class="form-control" name="password_repeat"
                                   [(ngModel)]="model.password_repeat" #password_repeat="ngModel" minlength="6"
                                   maxlength="15" required>
                            <label for="password_repeat">Repite la contraseña</label>
                            <p [hidden]="password_repeat.valid || password_repeat.pristine" class="text-danger">
                                La longitud de la contraseña debe ser por lo menos de 6 letras y/o números
                            </p>
                        </div>
                        <div *ngIf="dontMatch" class="alert alert-danger">
                            Las contraseñas no coinciden
                        </div>
                        <button id="recoveryButton" data-loading-text="Guardando..." type="submit" name="submit"
                                [disabled]="!resetPasswordForm.form.valid" class="btn btn-primary btn-sm pull-right">
                            Guardar
                        </button>
                    </form>
                    <br><br>
                    <div class="row" *ngIf="success">
                        <div class="col-sm-12">
                            <div class="alert alert-success text-center">
                                <p>La constraseña se ha cambiado correctamente</p>
                                <p>En {{ seconds }} segundos te redireccionaremos al login...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
