<div class="page-header">
    <div class="container">
        <h1>Recuperación de contraseña</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="['/index']">Home</a></li>
            <li class="active">Recuperación de contraseña</li>
        </ul>
    </div>
</div>

<div class="bgcolor3 pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="widget search-widget">
                    <form #recoveryForm="ngForm" (ngSubmit)="onSubmit();">
                        <h5 class="heading">Recupera tu contraseña</h5>
                        <span>Introduce tu correo electrónico</span>
                        <div class="form-group">
                            <input id="email" type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required autocomplete="off">
                        </div>
                        <button id="recoveryButton" data-loading-text="Enviando correo..." type="submit" name="submit" [disabled]="!recoveryForm.form.valid" class="btn btn-primary btn-sm pull-right">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>