<div class="page-header">
    <div class="container">
        <h1>Perfil</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="['/index']">Home</a></li>
            <li class="active">Perfil</li>
        </ul>
    </div>
</div>

<div class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3 class="heading">Actualización del <span class="color2">perfil</span></h3>
                <ul class="nav nav-pills nav-stacked pull-left" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#p1body1" aria-controls="p1body1" role="tab" data-toggle="tab"><i
                                class="fa fa-lock fa-fw"></i> Contraseña</a>
                    </li>
                    <li role="presentation">
                        <a href="#p1body2" aria-controls="p1body2" role="tab" data-toggle="tab"><i
                                class="fa fa-envelope fa-fw"></i> Email</a>
                    </li>
                    <li role="presentation">
                        <a href="#p1body3" aria-controls="p1body3" role="tab" data-toggle="tab"><i
                                class="fa fa-user fa-fw"></i> Datos personales</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <!-- Tab One -->
                    <div role="tabpanel" class="tab-pane fade in active" id="p1body1">
                        <div class="row">
                            <div class="col-sm-8">
                                <form id="changePassword" #changePassword="ngForm" (ngSubmit)="submitPassword()">
                                    <h5 class="no-uppercase">Por seguridad tienes que ingresar tu contraseña actual</h5>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="oldPassword" name="oldPassword"
                                               [(ngModel)]="modelPassword.oldPassword" #oldPassword="ngModel" required>
                                        <label for="oldPassword">Contraseña anterior</label>
                                        <p [hidden]="oldPassword.valid || oldPassword.pristine" class="text-danger">
                                            Debes proporcionar tu contraseña anterior
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="newPassword" name="newPassword"
                                               [(ngModel)]="modelPassword.newPassword" #newPassword="ngModel"
                                               minlength="6" maxlength="15" required>
                                        <label for="newPassword">Contraseña nueva</label>
                                        <p [hidden]="newPassword.valid || newPassword.pristine" class="text-danger">
                                            La longitud de la contraseña debe ser por lo menos de 6 letras y/o números
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="repeatNewPassword"
                                               name="repeatNewPassword" [(ngModel)]="modelPassword.repeatNewPassword"
                                               #repeatNewPassword="ngModel" minlength="6" maxlength="15" required>
                                        <label for="repeatNewPassword">Repetir contraseña</label>
                                        <p [hidden]="repeatNewPassword.valid || repeatNewPassword.pristine"
                                           class="text-danger">
                                            La longitud de la contraseña debe ser por lo menos de 6 letras y/o números
                                        </p>
                                    </div>
                                    <div *ngIf="dontMatchPassword" class="alert alert-danger">
                                        Las contraseñas no coinciden
                                    </div>
                                    <button id="passwordButton" data-loading-text="Guardando..." type="submit" name="submit"
                                            class="btn btn-primary" [disabled]="!changePassword.form.valid">Cambiar
                                        contraseña
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Two -->
                    <div role="tabpanel" class="tab-pane fade" id="p1body2">
                        <div class="row">
                            <div class="col-sm-8">
                                <form id="changeEmail" #changeEmail="ngForm" (ngSubmit)="submitEmail()">
                                    <h5 class="no-uppercase">Tu correo actual es: <strong>{{profile.email}}</strong></h5>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="modelEmail.email" #email="ngModel" required>
                                        <label for="email">Correo electrónico nuevo</label>
                                        <p [hidden]="email.valid || email.pristine" class="text-danger">
                                            El correo electrónico es obligatorio
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="emailRepeat" name="emailRepeat" [(ngModel)]="modelEmail.emailRepeat" #emailRepeat="ngModel" required>
                                        <label for="emailRepeat">Repetir correo electrónico</label>
                                        <p [hidden]="emailRepeat.valid || emailRepeat.pristine" class="text-danger">
                                            Ingresa nuevamente el correo electrónico
                                        </p>
                                    </div>
                                    <div *ngIf="dontMatchEmail" class="alert alert-danger">
                                        Los correos no coinciden
                                    </div>
                                    <button id="emailButton" data-loading-text="Guardando..." type="submit" name="submit"
                                            class="btn btn-primary" [disabled]="!changeEmail.form.valid">Cambiar correo
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Three -->
                    <div role="tabpanel" class="tab-pane fade" id="p1body3">
                        <div class="row">
                            <div class="col-sm-8">
                                <form id="changeData" #changeData="ngForm" (ngSubmit)="submitProfile()">
                                    <h5 class="no-uppercase">Mantén actualizado tu perfil</h5>
                                    <div class="form-group">
                                        <input id="curp" type="text" class="form-control" name="curp" [(ngModel)]="modelPersonal.curp"
                                               #curp="ngModel" minlength="18" maxlength="18" required>
                                        <label for="curp">CURP</label>
                                        <p [hidden]="curp.valid || curp.pristine" class="text-danger">
                                            La CURP debe contener 18 caracteres
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input id="fullname" type="text" class="form-control" name="fullname" [(ngModel)]="modelPersonal.fullname"
                                               #fullname="ngModel" required>
                                        <label for="fullname">Nombre completo</label>
                                        <p [hidden]="fullname.valid || fullname.pristine" class="text-danger">
                                            El nombre es obligatorio
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <select name="teacher_function" id="teacher_function" class="form-control"
                                                [(ngModel)]="modelPersonal.teacher_function" #teacher_function="ngModel" required>
                                            <option value="">Seleccionar</option>
                                            <option *ngFor="let tf of teacher_function_list" [value]="tf.id">{{tf.name}}</option>
                                        </select>
                                        <label for="teacher_function">Función</label>
                                        <p [hidden]="teacher_function.valid || teacher_function.pristine" class="text-danger">
                                            La función es obligatoria
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <select name="education_level" id="education_level" class="form-control"
                                                [(ngModel)]="modelPersonal.education_level" #education_level="ngModel" required>
                                            <option value="">Seleccionar</option>
                                            <option *ngFor="let el of education_level_list" [value]="el.id">{{el.name}}</option>
                                        </select>
                                        <label for="education_level">Nivel</label>
                                        <p [hidden]="education_level.valid || education_level.pristine" class="text-danger">
                                            El nivel es obligatorio
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <select name="specialty" id="specialty" class="form-control" [(ngModel)]="modelPersonal.specialty"
                                                #specialty="ngModel" required>
                                            <option selected="selected" value="">Seleccionar</option>
                                            <option *ngFor="let s of specialty_list" [value]="s.id">{{s.name}}</option>
                                        </select>
                                        <label for="specialty">Especialidad</label>
                                        <p [hidden]="specialty.valid || specialty.pristine" class="text-danger">
                                            La especialidad es obligatoria
                                        </p>
                                    </div>
                                    <button id="profileButton" data-loading-text="Actualizando..." type="submit" name="submit"
                                            class="btn btn-primary" [disabled]="!changeData.form.valid">Actualizar datos
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="block_profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Perfil Bloqueado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        El perfil está bloqueado temporalmente, debido a que usted tiene evaluaciones pendientes o en proceso, cuando termine las evaluaciones se habilitara su perfil.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>