<div class="page-header">
    <div class="container">
        <h1>Regístrate</h1>
        <ul class="breadcrumb">
            <li><a [routerLink]="['/index']">Home</a></li>
            <li class="active">Registro</li>
        </ul>
    </div>
</div>

<div class="container mt-80 mb-100">
    <div class="row">
        <div class="col-sm-12" *ngIf="loading">
            <div class="loader">
                <img src="../assets/images/loading.gif" alt="Cargando ...">
            </div>
            <div class="alert alert-info" role="alert">
                {{proccess_step}}
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 mt-20" [hidden]="loading">
            <h4 class="heading">
                Datos de <span class="color2">registro</span>
            </h4>
            <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input id="curp" type="text" class="form-control" name="curp" [(ngModel)]="model.curp"
                           #curp="ngModel" minlength="18" maxlength="18" required>
                    <label for="curp">CURP</label>
                    <p [hidden]="curp.valid || curp.pristine" class="text-danger">
                        La CURP debe contener 18 caracteres
                </p>
            </div>
            <div class="form-group">
                <input id="fullname" type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname"
                       #fullname="ngModel" required>
                <label for="fullname">Nombre completo</label>
                <p [hidden]="fullname.valid || fullname.pristine" class="text-danger">
                    El nombre es obligatorio
            </p>
        </div>
        <div class="form-group">
            <select name="teacher_function" id="teacher_function" class="form-control"
                    [(ngModel)]="model.teacher_function" #teacher_function="ngModel" required>
                <option value="">Seleccionar</option>
                <option *ngFor="let tf of teacher_function_list" [value]="tf.id">{{tf.name}}</option>
            </select>
            <label for="teacher_function">Función</label>
            <p [hidden]="teacher_function.valid || teacher_function.pristine" class="text-danger">
                La función es obligatoria
        </p>
    </div>
    <div class="form-group">
        <select name="education_level" id="education_level" class="form-control"
                [(ngModel)]="model.education_level" #education_level="ngModel" required>
            <option value="">Seleccionar</option>
            <option *ngFor="let el of education_level_list" [value]="el.id">{{el.name}}</option>
        </select>
        <label for="education_level">Nivel</label>
        <p [hidden]="education_level.valid || education_level.pristine" class="text-danger">
            El nivel es obligatorio
    </p>
</div>
<div class="form-group">
    <select name="specialty" id="specialty" class="form-control" [(ngModel)]="model.specialty"
            #specialty="ngModel" required>
        <option selected="selected" value="">Seleccionar</option>
        <option *ngFor="let s of specialty_list" [value]="s.id">{{s.name}}</option>
    </select>
    <label for="specialty">Especialidad</label>
    <p [hidden]="specialty.valid || specialty.pristine" class="text-danger">
        La especialidad es obligatoria
</p>
</div>
<div class="form-group">
    <input id="seccionSindical" type="text" class="form-control" name="seccionSindical" [(ngModel)]="model.seccionSindical"
           #seccionSindical="ngModel" readonly="">
    <label for="curp">Sección Sindical</label>
</div>
<div class="form-group">
    <input id="email" type="email" class="form-control" name="email" [(ngModel)]="model.email"
           #email="ngModel" required>
    <label for="email">Correo electrónico</label>
    <p [hidden]="email.valid || email.pristine" class="text-danger">
        El correo electrónico es obligatorio
</p>
</div>
<div class="form-group">
    <input id="password" type="password" class="form-control" name="password"
           [(ngModel)]="model.password" #password="ngModel" minlength="6" maxlength="15" required>
    <label for="password">Contraseña</label>
    <p [hidden]="password.valid || password.pristine" class="text-danger">
        La longitud de la contraseña debe ser por lo menos de 6 letras y/o números
</p>
</div>
<div [hidden]="!error" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>
<button id="registerButton" data-loading-text="Registrando..." type="submit" name="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary">Registrarse</button>
</form>
</div>
</div>
</div>